/*body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

nav {
  background: #2563eb;
  color: white;
  padding: 15px;
}

.profile {
  background: white;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}*/